/* hide radio button */

 .rate > input{
  display: none;

}

.rate{
  display: inline-block;;
  border:0;
}
.rate > label{
  float: right;
}

.rate > label:before{
  display: inline-block;
  font-size: 1.1rem;
  font-family: FontAwesome;
  content: "\f005";
  margin:0;
  padding:0.3rem  .2rem;
  cursor: pointer;
}

.rate .half:before{
   content: "\f089";
   position: absolute;
   padding-right: 0;
 } 




input:checked ~ label, label:hover ~ label{
  color: #ffb503;
}

input: checked +  label:hover, input:checked ~ label:hover, input: checked ~ label : hover ~ label,
label : hover ~ input: checked ~ label{
  color: #cc9000;
}




/* hide radio buttons */
/* .rate > input {
  display: none;
}

.rate {
  display: inline-block;
  border: 0;
  position: relative;
}

.rate > label {
  float: right;
  position: relative;
}

/* full star */
/* .rate > label:before {
  display: inline-block;
  font-size: 1.4rem;
  font-family: FontAwesome;
  content: "\f005";  /* full star */
  /* padding: .3rem .2rem;
  cursor: pointer;
  color: #ddd;
} */

/* HALF STAR */
/* .rate > .half:before {
  content: "\f089"; /* half star */
  /* position: absolute;
  left: 0;
} */

/* HOVER COLOR */
/* .rate input:checked ~ label,
.rate label:hover,
.rate label:hover ~ label {
  color: #ffb503;
} */

/* darker hover */
/* .rate input:checked + label:hover,
.rate input:checked ~ label:hover,
.rate label:hover ~ input:checked ~ label {
  color: #cc9000;
} */


/*

.rate {
    display: inline-flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
}

.rate input {
    display: none;
} */

/* .rate label {
    font-size: 28px;
    color: #ddd;
    cursor: pointer;
    position: relative;
} */

/* full star */
/* .rate label::before {
    content: "\f005";
    font-family: "Font Awesome 6 Free";
    font-weight: 900; */
}

/* half star */
/* .rate label.half::before {
    content: "\f089";
    position: absolute;
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
} */

/* hover */
/* .rate label:hover,
.rate label:hover ~ label {
    color: #ffb503;
} */

/* selected */
/* .rate input:checked ~ label {
    color: #ffb503;
} */



/* .rate {
    display: inline-flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
}

.rate input {
    display: none;
}

.rate label {
    font-size: 30px;
    color: #ddd;
    cursor: pointer;
    position: relative;
    width: 20px;
}


.rate label::before {
    content: "\f005";
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
}


.rate label.half::before {
    content: "\f089";
    position: absolute;
    left: 0;
    width: 10px;
    overflow: hidden;
}


.rate label:hover,
.rate label:hover ~ label {
    color: #ffb503;
}


.rate input:checked ~ label {
    color: #ffb503;
} */

/*


/* ===== FORCE STAR RATING FIX (override theme) ===== */





/* half-star system */



/* ===== PURE CSS STAR RATING ===== */
